.hero {
  min-height: 100vh;
  max-width: 1300px;
  padding: 1vw 5vw;
  margin: 0 auto;
}
.hero-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.visual-wrapper {
  position: relative;
  width: 100%;
}

.background-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-container {
  display: flex;
}

.wrapper {
  position: relative;
  height: 800px;
  display: grid;
  grid-template: 1fr / 300px 1fr;
}

.hero-img {
  align-self: center;
  height: 100%;
  grid-area: 1 / 2 / 2 / -1;
}

.text {
  align-self: center;
  height: 300px;
  grid-area: 1 / 1 / 2 / -1;
}

.overlay {
  align-self: center;
  height: 100%;
  opacity: 1;
  grid-area: 1 / 2 / 2 / -1;
  z-index: 10;
}
.white-block {
  height: 290px;
  grid-area: 1 / -2 / 1 / -1;
  background: var(--base-color);
  z-index: 11;
  width: 100%;
}
