.main-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  li {
    list-style-type: none;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      cursor: pointer;
    }
  }
}

.top-navbar,
.bottom-navbar {
  border-bottom: 1px solid rgba(153, 153, 153, 0.63);
  height: 60px;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;

  //media: screen and (min-width)
  max-width: 1300px;
  margin: 0 auto;
}

.navigation-left,
.navigation-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.nav-left-content {
  display: flex;

  height: 100%;

  display: flex;
  justify-content: center;

  align-items: center;

}

.logo-link {
  height: 100%;
  width: 100%;

  overflow: hidden;
}
.logo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: -1rem;
}
.category-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.nav-left-content,
.nav-center-content,
.nav-right-content {
  flex: 1;
}

.nav-right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
