.video-container{
  display:grid;
  grid-template-columns: auto 800px auto auto auto;
  grid-template-rows: auto 400px auto ;
  // background-color: blue;
  // border:1px solid orange;
  // position: relative;

}

.video-content{
  // position: absolute;
//  top:-5%;
//  left:5%;
// border: 12px solid green;
// //   width: 100%;
// //   border:none;
width: 800px;

grid-column: 2/3;
grid-row: 2/3;
align-self: center;
}