@font-face {
  font-family: "heroiccondensed";
  src: 
  url("../assets/fonts/heroiccondensed-medium-webfont.woff")
      format("woff"),
    url("../assets/fonts/heroiccondensed-medium-webfont.ttf") format("ttf"),
    url("../assets/fonts/heroiccondensed-medium-webfont.eot") format("eot"),
    url("../assets/fonts/heroiccondensed-heavy-webfont.woff") format("woff"),
    url("../assets/fonts/heroiccondensed-heavy-webfont.ttf") format("ttf"),
    url("../assets/fonts/heroiccondensed-heavy-webfont.eot") format("eot"),
    url("../assets/fonts/heroiccondensed-bold-webfont.woff") format("woff"),
    url("../assets/fonts/heroiccondensed-bold-webfont.ttf") format("ttf"),
    url("../assets/fonts/heroiccondensed-bold-webfont.eot") format("eot"),
    url("../assets/fonts/heroiccondensed-black-webfont.woff") format("woff"),
    url("../assets/fonts/heroiccondensed-black-webfont.ttf") format("ttf"),
    url("../assets/fonts/heroiccondensed-black-webfont.eot") format("eot");
}
* {
  font-family: "heroiccondensed", sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

/* Declare text styles */
h1,
h2,
h3,
h4,
p,
a {
  /* Font minimum, preferred and maximum value */
  font-size: clamp(var(--min), var(--val), var(--max));
}

/* Font size variables */
h1 {
  --min: 22em; /* minimum value */
  --val: 5vw; /* preferred value = 5% viewport width */
  --max: 32em; /* maximum value */
}
h2 {
  --min: 2em; /* minimum value */
  --val: 4vw; /* preferred value = 4% viewport width */
  --max: 3em; /* maximum value */
}
h3 {
  --min: 1.3em; /* minimum value */
  --val: 4vw; /* preferred value = 4% viewport width */
  --max: 2em; /* maximum value */
}
h4 {
  --min: 1.1em; /* minimum value */
  --val: 4vw; /* preferred value = 4% viewport width */
  --max: 1.5em; /* maximum value */
}
p,
a {
  --min: 1em; /* minimum value */
  --val: 2vw; /* preferred value = 2% viewport width */
  --max: 1.2rem; /* maximum value */
}
