@font-face {
  font-family: "heroiccondensed";
  src: url("/assets/fonts/heroiccondensed-black-webfont.woff") format("woff"),
        url("/assets/fonts/heroiccondensed-bold-webfont.woff") format("woff"),
        url("/assets/fonts/heroiccondensed-heavy-webfont.woff") format("woff"),
        url("/assets/fonts/heroiccondensed-medium-webfont.woff") format("woff"),

}
*{

    font-family: 'heroiccondensed', sans-serif;
    font-size: 16px;
    color:var(--text-color)


}


/* Declare text styles */
h1, h2,h3,h4, p {
  /* Font minimum, preferred and maximum value */
  font-size: clamp(var(--min), var(--val), var(--max));
}

/* Font size variables */
h1 {
  --min: 2em; /* minimum value */
  --val: 5vw; /* preferred value = 5% viewport width */
  --max: 3em; /* maximum value */
}
h2 {
  --min: 1.5em;   /* minimum value */
  --val: 4vw;     /* preferred value = 4% viewport width */
  --max: 2.25em;  /* maximum value */
}
h3 {
  --min: 1.3em;   /* minimum value */
  --val: 4vw;     /* preferred value = 4% viewport width */
  --max: 2em;  /* maximum value */
}
h4 {
  --min: 1.2em;   /* minimum value */
  --val: 4vw;     /* preferred value = 4% viewport width */
  --max: 1.8em;  /* maximum value */
}
p {
  --min: 1em;   /* minimum value */
  --val: 2.5vw; /* preferred value = 2.5% viewport width */
  --max: 1.5em; /* maximum value */
}