.content-container {
  position: absolute;
  inset: 0;
  width: 27%;
  padding: 1rem;

}

.text-block {
  position: relative;
  width: 100%;
}
.small-title,
.color-theme {
  color: var(--accent-color);
}

.small-title {
  letter-spacing: 0.3rem;
  position: absolute;
  top: 6%;
}

.text-content {
  position: absolute;
  bottom: 5%;
}

.text-title {
  display: flex;
  flex-direction: column;
  line-height: 1em;
  letter-spacing: 0.5rem;
}

.text-subtitle {
  width: 60%;
  line-height: 1.8rem;
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}

.text-slogan {
  line-height: 1.4rem;
  margin: 1rem 0;
  width: 80%;
}
