.text-block{
  position: relative;
  height:100vh;
  background-color:var(--base-color);
  width:40%;

}

.small-title,
.color-theme
{
  color: var(--accent-color);
}

.wrapper-titles{
  position:absolute;
  top:12%;
  left:0%;
  display:flex;
  flex-direction:column;
  font-weight: bold;


  // border:13px solid purple;
  z-index:2;
  width:100%;
  height: 100%;





}

.top-title,
.bottom-title{
 
  font-size:13em;
  display:flex;
  line-height:20rem;
  letter-spacing: 4rem;

}

.bottom-title{
  justify-content:flex-end;
  letter-spacing: 4rem;
}

.heart {
  height: 100%;
 


}
.heart-icon{
  // width: 100px;

  width: 350px;
  height: auto;
  margin-left:-10%;
  
 


}


.big-title{

  color: var(--accent-color);
}

.small-title{
  position:absolute;
  top:10%;


}

.text-content{
  position:absolute;
  bottom:20%;
}

