.text-block {
  position: relative;
  height: 100vh;
  background-color: var(--base-color);
  width: 40%;
}

.small-title,
.color-theme {
  color: var(--accent-color);
}

.small-title{
  padding-top:25%;
}

.text-content {
  position: absolute;
  bottom: 20%;

}

.text-title{
  display:flex;
  flex-direction: column;
  line-height:1em;
}

.text-subtitle{
  font-weight: lighter;
}

// hero headline
.title-container {
  display: flex;
  align-items:center;
  justify-content: flex-start;
  max-height: 30vh;
  width: 50%;

}
.title-VE,
.title-L,
.title-LA

{
  font-size: 25vw;
  line-height: 1rem;
  color: var(--accent-color);
  letter-spacing: 3.5rem;
}

.heart {
  // background:blue;
  // border: 1px solid green;
  height:30vh ;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.heart-icon {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.title-wrapper,
.top-title,
.bottom-title{
  display: flex;
}
.title-wrapper{
  position: absolute;
  left:-1em;
  top:13%;
  flex-direction:column;
  justify-content:space-evenly;
 
  z-index: 10;
}

.bottom-title{
justify-content:flex-end;
}

.title-VE
{
margin-left:5rem;
}
.title-LA
{

letter-spacing:1rem;
}

.bottom-title{
margin-top:17%;
margin-left:8%;

}



