.title-container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: auto 35% 1fr 1fr;
  text-align: left;

  h1 {
    letter-spacing: 1.5rem;
    color: var(--accent-color);
  }
  // L
  h1:nth-of-type(1) {
    grid-column: 1;
  }
  //  V
  h1:nth-of-type(2) {
    grid-column: 3;
    margin-left: 23%;
  }
  //  E.
  h1:nth-of-type(3) {
    grid-column: 4;
    margin-left: 6%;
  }

  //L
  h1:nth-of-type(4) {
    grid-column: 3;
  }

  // A
  h1:nth-of-type(5) {
    grid-column: 4;
    margin-left: -3%;
  }
}

.heart {
  position: relative;
  height: 280px;
  width: 350px;
}

.heart-icon {
  position: absolute;
  top: -50%;
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.text {
  line-height: 1.4rem;
  width: 80%;
}
