:root {
  --base-color:white;
  --accent-color:rgb(204, 12, 47);
  --text-color:#012b5b;
  --border-color:#e6e6e6;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin /padding*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "heroiccondensed";
  src: url("../../assets/fonts/heroiccondensed-medium-webfont.woff") format("woff"), url("../../assets/fonts/heroiccondensed-medium-webfont.ttf") format("ttf"), url("../../assets/fonts/heroiccondensed-medium-webfont.eot") format("eot"), url("../../assets/fonts/heroiccondensed-heavy-webfont.woff") format("woff"), url("../../assets/fonts/heroiccondensed-heavy-webfont.ttf") format("ttf"), url("../../assets/fonts/heroiccondensed-heavy-webfont.eot") format("eot"), url("../../assets/fonts/heroiccondensed-bold-webfont.woff") format("woff"), url("../../assets/fonts/heroiccondensed-bold-webfont.ttf") format("ttf"), url("../../assets/fonts/heroiccondensed-bold-webfont.eot") format("eot"), url("../../assets/fonts/heroiccondensed-black-webfont.woff") format("woff"), url("../../assets/fonts/heroiccondensed-black-webfont.ttf") format("ttf"), url("../../assets/fonts/heroiccondensed-black-webfont.eot") format("eot");
}
* {
  font-family: "heroiccondensed", sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

/* Declare text styles */
h1,
h2,
h3,
h4,
p,
a {
  /* Font minimum, preferred and maximum value */
  font-size: clamp(var(--min), var(--val), var(--max));
}

/* Font size variables */
h1 {
  --min: 22em;
  /* minimum value */
  --val: 5vw;
  /* preferred value = 5% viewport width */
  --max: 32em;
  /* maximum value */
}

h2 {
  --min: 2em;
  /* minimum value */
  --val: 4vw;
  /* preferred value = 4% viewport width */
  --max: 3em;
  /* maximum value */
}

h3 {
  --min: 1.3em;
  /* minimum value */
  --val: 4vw;
  /* preferred value = 4% viewport width */
  --max: 2em;
  /* maximum value */
}

h4 {
  --min: 1.1em;
  /* minimum value */
  --val: 4vw;
  /* preferred value = 4% viewport width */
  --max: 1.5em;
  /* maximum value */
}

p,
a {
  --min: 1em;
  /* minimum value */
  --val: 2vw;
  /* preferred value = 2% viewport width */
  --max: 1.2rem;
  /* maximum value */
}

.cta-view-products {
  background-color: var(--accent-color);
  color: var(--base-color);
  border: 0;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  justify-content: center;
  max-width: 680px;
  min-height: 3rem;
  overflow: hidden;
  padding: 0 4rem;
  text-align: center;
  touch-action: manipulation;
  transition: all 250ms ease-in-out;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.cta-link {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.cta-view-products:hover,
.cta-view-products:focus {
  filter: contrast(2);
}

.cta-view-products:active {
  background: var(--accent-color);
  color: rgba(var(--base-color) 0.7);
}

.cta-view-products:disabled {
  cursor: not-allowed;
  background: rgba(var(--accent-color) 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}
.main-navigation li {
  list-style-type: none;
  text-decoration: none;
}
.main-navigation a {
  text-decoration: none;
  color: inherit;
}
.main-navigation a:hover {
  cursor: pointer;
}

.top-navbar,
.bottom-navbar {
  border-bottom: 1px solid rgba(153, 153, 153, 0.63);
}

.top-navbar {
  height: 55px;
}

.announcement {
  font-style: italic;
  margin-left: 2vw;
}

.bottom-navbar {
  height: 60px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.navigation-left,
.navigation-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.navigation-left li,
.navigation-right li {
  margin: 0 0.5rem;
  line-height: 1rem;
}

.navigation-left li:nth-of-type(2) {
  padding: 0 1rem;
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.navigation-right li:nth-of-type(2) {
  padding: 0 1rem;
  border-left: 1px solid var(--text-color);
}

.shoppingbag {
  border-left: 1px solid var(--border-color);
  padding-left: 1rem;
}

.nav-left-content {
  display: flex;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-link {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.5em;
}

.logo-img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 1.5vw;
}

.category-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.nav-left-content {
  justify-content: flex-start;
}

.nav-left-content,
.nav-right-content {
  flex: 1;
}

.nav-center-content {
  flex: 1;
}

.nav-right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchbar {
  border: 1px solid rgba(153, 153, 153, 0.63);
  padding-right: 5rem;
  margin-right: 1rem;
}

category-items {
  margin: 0 1rem;
}

.video-container {
  display: grid;
  grid-template-columns: auto 700px auto auto auto;
  grid-template-rows: auto 370px auto;
  position: relative;
}

.video {
  width: 750px;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
}

.player-controls {
  position: absolute;
  left: 43%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: grid;
  place-items: center;
  z-index: 3;
}

.play-button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 1rem 0;
  background-color: var(--accent-color);
  color: var(--base-color);
  border: none;
  outline: 3px solid var(--accent-color);
  outline-offset: 2rem;
  transition: all 650ms ease-in-out;
}
.play-button:hover {
  cursor: pointer;
}

header {
  color: var(--text-color);
}

.content-container {
  position: absolute;
  inset: 0;
  width: 27%;
  padding: 1rem;
}

.text-block {
  position: relative;
  width: 100%;
}

.small-title,
.color-theme {
  color: var(--accent-color);
}

.small-title {
  letter-spacing: 0.3rem;
  position: absolute;
  top: 6%;
}

.text-content {
  position: absolute;
  bottom: 8%;
}

.text-title {
  display: flex;
  flex-direction: column;
  line-height: 1em;
  letter-spacing: 0.5rem;
}

.text-subtitle {
  width: 60%;
  line-height: 1.8rem;
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}

.text-slogan {
  line-height: 1.4rem;
  margin: 1rem 0;
  width: 80%;
  padding-bottom: 1rem;
}

.title-container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: auto 35% 1fr 1fr;
  text-align: left;
}
.title-container h1 {
  letter-spacing: 1.5rem;
  color: var(--accent-color);
}
.title-container h1:nth-of-type(1) {
  grid-column: 1;
}
.title-container h1:nth-of-type(2) {
  grid-column: 3;
  margin-left: 23%;
}
.title-container h1:nth-of-type(3) {
  grid-column: 4;
  margin-left: 6%;
}
.title-container h1:nth-of-type(4) {
  grid-column: 3;
}
.title-container h1:nth-of-type(5) {
  grid-column: 4;
  margin-left: -3%;
}

.heart {
  position: relative;
  height: 280px;
  width: 350px;
}

.heart-icon {
  position: absolute;
  top: -50%;
  display: block;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text {
  line-height: 1.4rem;
  width: 80%;
}

.hero {
  min-height: 100vh;
  max-width: 1300px;
  padding: 1vw 5vw;
  margin: 0 auto;
}

.hero-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.visual-wrapper {
  position: relative;
  width: 100%;
}

.background-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-container {
  display: flex;
}

.wrapper {
  position: relative;
  height: 800px;
  display: grid;
  grid-template: 1fr/300px 1fr;
}

.hero-img {
  align-self: center;
  height: 100%;
  grid-area: 1/2/2/-1;
}

.text {
  align-self: center;
  height: 300px;
  grid-area: 1/1/2/-1;
}

.overlay {
  align-self: center;
  height: 100%;
  opacity: 1;
  grid-area: 1/2/2/-1;
  z-index: 10;
}

.white-block {
  height: 290px;
  grid-area: 1/-2/1/-1;
  background: var(--base-color);
  z-index: 11;
  width: 100%;
}/*# sourceMappingURL=main.css.map */